/*  All of my 'utility' css will go here.
 *  Functions, clears, etc.
 */
.group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/*  Font Stuff
 */
.normal-size {
  font-size: 17px;
  font-size: 1.7rem; }

.medium {
  font-size: 14px;
  font-size: 1.4rem; }

.small {
  font-size: 11px;
  font-size: 1.1rem; }

.mute {
  color: #777777; }
  .mute a {
    color: #777777; }
  .mute .dark {
    color: #444444; }

.dark {
  color: #222222; }

.bold {
  font-weight: bold; }

.uppercase {
  text-transform: uppercase; }

.no-underline {
  text-decoration: none; }
  .no-underline:hover {
    text-decoration: none; }

.color-green {
  color: #109b75; }

a.color-green:hover {
  color: #095641; }

.color-light-green {
  color: #cbf5e9; }

a.color-light-green:hover {
  color: #8be9ce; }

.color-red {
  color: #de4744; }

a.color-red:hover {
  color: #b52320; }

/*  Borders
 */
.dark-border-bottom {
  border-bottom: 1px solid #444444; }

.light-border-bottom {
  border-bottom: 1px solid #999999; }

.dark-border-top {
  border-top: 1px solid #444444; }

.light-border-top {
  border-top: 1px solid #999999; }

/*  Display
 */
.make-block {
  display: block; }

.make-inline {
  display: inline; }

.make-inline-block {
  display: inline-block; }

.width-25 {
  width: 25%; }

.width-49 {
  width: 49%; }

.width-50 {
  width: 50%; }

.width-75 {
  width: 75%; }

/*  Text alignment
 */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/*  Gutters
 */
.gutter-top {
  margin-top: 20px; }

.gutter-top-three-quarter {
  margin-top: 15px; }

.gutter-top-half {
  margin-top: 10px; }

.gutter-top-quarter {
  margin-top: 5px; }

.gutter-top-none {
  margin-top: 0px; }

.gutter-top-double {
  margin-top: 40px; }

.gutter-top-negative {
  margin-top: -20px !important; }

.gutter-right {
  margin-right: 20px; }

.gutter-right-three-quarter {
  margin-right: 15px; }

.gutter-right-half {
  margin-right: 10px; }

.gutter-right-quarter {
  margin-right: 5px; }

.gutter-right-none {
  margin-right: 0px; }

.gutter-right-double {
  margin-right: 40px; }

.gutter-right-negative {
  margin-right: -20px !important; }

.gutter-bottom {
  margin-bottom: 20px; }

.gutter-bottom-three-quarter {
  margin-bottom: 15px; }

.gutter-bottom-half {
  margin-bottom: 10px; }

.gutter-bottom-quarter {
  margin-bottom: 5px; }

.gutter-bottom-none {
  margin-bottom: 0px !important; }

.gutter-bottom-double {
  margin-bottom: 40px; }

.gutter-bottom-negative {
  margin-bottom: -20px !important; }

.gutter-left {
  margin-left: 20px; }

.gutter-left-three-quarter {
  margin-left: 15px; }

.gutter-left-half {
  margin-left: 10px; }

.gutter-left-quarter {
  margin-left: 5px; }

.gutter-left-none {
  margin-left: 0px; }

.gutter-left-double {
  margin-left: 40px; }

.gutter-left-negative {
  margin-left: -20px !important; }

/* Boxes
 */
.padded-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px; }

.gray-box {
  background: #efefef; }

/* Keyframes Mixin
 */
html, body {
  height: 100%; }

body {
  background: white;
  font-family: "Helvetica Neue", Arial, sans-serif; }
